<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="container">
    
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/fundos">Lista de Fundos</a>
      <a class="navbar-brand" href="/atualizar">Sincronizar Manualmente</a>
    </nav>
    <main>
      <div class="jumbotron">
        <h1>
          <%= title %>
        </h1>
        <p>Fundos Imobiliários</p>
      </div>

      <form onchange='filtrar()'>

        <div class="form-group">
          <label for="tipo">Tipo: </label>
          <select class="form-control" id="tipo">
            <option value="x">-------</option>
            <option value="Papel">Papel</option>
            <option value="Tijolo">Tijolo</option>
            <option value="Fundo de Fundos">Fundos de Fundos</option>
            <option value="Hbrido">Híbrido</option>
            <option value="x">Todos</option>
          </select>
        </div>
      </form>


      <table border="1" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Fundo</th>
            <th scope="col">Tipo</th>
            <th scope="col">P/VP</th>
            <th scope="col">Dividendo Yeld</th>
            <th scope="col">Valor Cota</th>
            <th scope="col">Último Dividendo</th>
          </tr>
        </thead>
        <tbody>
          <% relatorio.map(dado=> {
            var regua = parseFloat(dado.pvp.replace(",","."));
            if(regua < 1){ %>
              <tr class="bg-primary">
                <% } else if(regua> 1){ %>
              <tr class="bg-danger">
                <% } else{ %>
              <tr>
                <% } %>
                  <td>
                    <%= dado.fundo %>
                  </td>
                  <td>
                    <%= dado.tipo %>
                  </td>
                  <td>
                    <%= dado.pvp %>
                  </td>
                  <td>
                    <%= dado.dividendoYield %>
                  </td>
                  <td>
                    <%= dado.valorCota %>
                  </td>
                  <td>
                    <%= dado.ultimoRendimento %>
                  </td>
              </tr>
              <% }); %>
        </tbody>
      </table>
    </main>
  </div>
  <footer>
    <div class="container">
      <p>Desenvolvido por wmacibnc </p>
    </div>
  </footer>
</body>
<script>
  const filtrar = function () {
    var tipo = document.getElementById('tipo');
    var url = "dados?data=<%= data %>&tipo=" + tipo.value;
    if (tipo.value === 'x') {
      url = "dados?data=<%= data %>";
    }
    window.location.href = url;
  }
</script>
</html>