<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="container">
    
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/fundos">Lista de Fundos</a>
      <a class="navbar-brand" href="/atualizar">Sincronizar Manualmente</a>
    </nav>
    <main>
      <div class="jumbotron">
        <h1>
          <%= title %>
        </h1>
        <p>Fundos Imobiliários</p>
      </div>

      <h3>Adicionar novo fundo</h3>
      <br />

      <form action="/fundos" method="POST" id="form">
        <div class="mb-3">
          <label for="example1" class="form-label">Fundo: </label>
          <input type="text" name="fundo" class="form-control" aria-describedby="help1">
        </div>
        <br />

        <div class="mb-3">
          <label for="example2" class="form-label">Tipo: </label>
          <input type="text" name="tipo" class="form-control" id="example2">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>

      <h3>Fundos Imobiliários</h3>
     <table border="1" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Fundo</th>
            <th scope="col">Tipo</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <% fundos.map(dado=> { %>
              <tr>
                  <td>
                    <%= dado.fundo %>
                  </td>
                  <td>
                    <%= dado.tipo %>
                  </td>
                  <td>
                    <form action="/excluir" method="POST" id="form">
                      <input type="hidden" name="id" value="<%= dado.id %>" />
                      <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                  </td>
              </tr>
              <% }); %>
        </tbody>
      </table>

     

    </main>
  </div>
  <footer>
    <div class="container">
      <p>Desenvolvido por wmacibnc </p>
    </div>
  </footer>
</body>
<script>
 
</script>
</html>