<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="container">
    
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/fundos">Lista de Fundos</a>
      <a class="navbar-brand" href="/atualizar">Sincronizar Manualmente</a>
    </nav>
    <main>
      <div class="jumbotron">
        <h1>
          <%= title %>
        </h1>
        <p>Fundos Imobiliários</p>
      </div>
      
        <p>Clique na data para obter o relatório do dia.</p>
        <div class="row">
        <% dados.map(dado => { %>
          <button style="margin-bottom: 25px;" type="button" onclick="abrir('<%= dado.data %>')" class="btn btn-info btn-lg" role="alert">
            <%= dado.dataFormatada %>
            <br />
          </button>
          <% }); %>
        </div>    
      </main>
        </div>
    <footer>
      <div class="container">
        <p>Versão <%= version %></p>
      </div>
    </footer>
  </body>
  <script>
   const abrir = function(arquivo) {
      var data = arquivo.replace("relatorio-","").replace(".json","");
      var url = "dados?data=" + data;
      window.location.href = url;
    }
  </script>
</html>